.buttonArea {
  margin: 35px auto;
  text-align: center;
  display: flow-root;
}
.PdfButton {
  margin: 32px;
  background: #C7243A;
  color:#fff;
}
.Important {
  text-decoration: double underline;
  font-weight: 900;
}
.content {
  font-size: 1.1rem;
  margin-bottom: 64px;
}
.teamPlate {
  border: 1px solid #333;
  padding: 24px;
  width: 350px;
}
.teamTitle {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-bottom: 16px;
}
.teamName {
  text-align: center;
  font-size: 1.1em;
}
.Red {
  color: #C7243A;
}