.linkOutline {
  .link {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      transform: rotate(45deg) translateY(-50%);
      width: 6px;
      height: 6px;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: #333;
    }
  }
}
