.bulletPoint {
  padding-left: 20px;
}
.strong {
  font-weight: 900;
  color: #C7243A;
}
.downloadSpan {
  cursor: pointer;
  color: blue;
}


.buttonArea {
  margin: 35px auto;
  text-align: center;
  display: flow-root;
}
.PdfButton {
  margin: 32px;
  background: #C7243A;
  color:#fff
}
.ExcelButton {
  margin: 32px;
  background: #009250;
  color:#fff
}
.ExcelPdfButton {
  margin: 32px;
  background: #EDAD0B;
  color:#fff
}