.footer {
  background-color: #AE2332;
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.copyRight {
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.logo {
  width: 128px;
  height: auto;
}