.h1Style {
  margin: 3rem 0;
  text-align: center;
  color: #333;
  font-weight: 900;
  font-size: 3.125rem;
  font-family: "Noto Sans JP";
}

.inlineLeft {
  text-align: left;
  margin: 0;
}
.inlineRight {
  text-align: right;
  margin: 0;
}