$transition-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
$transition-easing-easeOut: cubic-bezier(0.0, 0, 0.2, 1);
$transition-duration-leavingScreen: 195ms;
$transition-duration-enteringScreen: 225ms;

.root {
  display: flex;
}
.appBar {
  transition: margin $transition-duration-leavingScreen $transition-easing-sharp,
              width $transition-duration-leavingScreen $transition-easing-sharp;
}
.appBarShift {
  transition: margin $transition-duration-enteringScreen $transition-easing-easeOut,
              width $transition-duration-enteringScreen $transition-easing-easeOut;
}
.title {
  flex-grow: 1;
}
.hide {
  display: none;
}
.drawer {
  width: 240px;
  flex-shrink: 0;
}
.drawerPaper {
  width: 240px;
}
.toolbar {
  justify-content: space-between;
  padding: 0px calc((100% - 1280px) / 2);
}
.menuButton {
  font-size: 2.5rem;
}

$toolbar-height-mobile: 56px;
$toolbar-height-desktop: 64px;

.drawerHeader {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: flex-start;
  min-height: $toolbar-height-mobile;
  @media (min-width: 600px) {
    min-height: $toolbar-height-desktop;
  }
}
.content {
  flex-grow: 1;
  padding: 24px;
  transition: margin $transition-duration-leavingScreen $transition-easing-sharp,
              width $transition-duration-leavingScreen $transition-easing-sharp;
  margin-right: -240px;
}
.contentShift {
  transition: margin $transition-duration-enteringScreen $transition-easing-easeOut,
              width $transition-duration-enteringScreen $transition-easing-easeOut;
  margin-right: 0;
}

.logo {
  height: auto;
  width: 300px;
}

@media (max-width: 540px) {
  .logo {
    max-width: 70%;
    height: auto;
  }
}

@media (max-width: 1280px) {
  .drawer {
    width: 30%;
  }
}
